/**
*
*	Name:			IRANYekan Font
*	Version:			3.3
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Sep 17, 2020
*	Updated on:		Sep 17, 2020
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebbold.eot');
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff/iranyekanwebbold.woff') format('woff'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff2/iranyekanwebbold.woff2') format('woff2'),
		 url('/assets/Fonts/YekanWebFonts/fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebthin.eot');
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff/iranyekanwebthin.woff') format('woff'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff2/iranyekanwebthin.woff2') format('woff2'),
		 url('/assets/Fonts/YekanWebFonts/fonts/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanweblight.eot');
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff/iranyekanweblight.woff') format('woff'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff2/iranyekanweblight.woff2') format('woff2'),
		 url('/assets/Fonts/YekanWebFonts/fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebregular.eot');
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff/iranyekanwebregular.woff') format('woff'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff2/iranyekanwebregular.woff2') format('woff2'),
		 url('/assets/Fonts/YekanWebFonts/fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebmedium.eot');
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff/iranyekanwebmedium.woff') format('woff'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff2/iranyekanwebmedium.woff2') format('woff2'),
		 url('/assets/Fonts/YekanWebFonts/fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebextrabold.eot');
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff/iranyekanwebextrabold.woff') format('woff'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff2/iranyekanwebextrabold.woff2') format('woff2'),
		 url('/assets/Fonts/YekanWebFonts/fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebblack.eot');
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff/iranyekanwebblack.woff') format('woff'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff2/iranyekanwebblack.woff2') format('woff2'),
		 url('/assets/Fonts/YekanWebFonts/fonts/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebextrablack.eot');
	src: url('/assets/Fonts/YekanWebFonts/fonts/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff/iranyekanwebextrablack.woff') format('woff'),
		 url('/assets/Fonts/YekanWebFonts/fonts/woff2/iranyekanwebextrablack.woff2') format('woff2'),
		 url('/assets/Fonts/YekanWebFonts/fonts/ttf/iranyekanwebextrablack.ttf') format('truetype');
}