@import "./lang.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  outline: none;
}

@layer components {
  ul {
    @apply flex flex-col gap-3;
  }

  .custom_input_box {
    @apply relative text-base-content [&>input]:w-full [&>label]:absolute [&>label]:right-2 [&>label]:top-3 [&>label]:transition-all [&>label]:duration-300 [&>label]:transform [&>label]:text-xs
        [&>label]:cursor-text [&>label]:pointer-events-none;
  }

  input {
    @apply border-2 border-base-350 rounded-sm py-2 px-4 focus:border-b-primary outline-none;
  }

  .btn {
    @apply rounded-lg py-2 px-3 transition-all duration-200;
  }

  .btn-primary {
    @apply flex justify-around items-center rounded-[9px] py-2 px-3 transition-all duration-200 bg-primary text-primary-text  hover:bg-primary-hover active:bg-primary-active focus:bg-primary-active disabled:bg-primary-disabled;
  }

  .btn-secondary {
    @apply flex justify-around items-center rounded-lg py-2 px-3 transition-all duration-200 bg-secondary  text-secondary-text hover:text-white hover:bg-secondary-hover active:text-white active:bg-secondary-active focus:text-white focus:bg-secondary-active disabled:text-white disabled:bg-secondary-disabled;
  }

  .alphabet {
    @apply rounded-md flex items-center justify-center w-10 h-10;
  }
}

.circleChart {
  stroke-width: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcfcfb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
