@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

@layer components {
  ul {
    @apply flex flex-col gap-3;
  }

  .custom_input_box {
    @apply relative text-base-content [&>input]:w-full [&>label]:absolute [&>label]:right-2 [&>label]:top-3 [&>label]:transition-all [&>label]:duration-300 [&>label]:transform [&>label]:text-xs
        [&>label]:cursor-text [&>label]:pointer-events-none;
  }

  input {
    @apply border-2 border-base-350 rounded-sm py-2 px-4 focus:border-b-primary outline-none
  }

  .btn {
    @apply rounded-lg py-2 px-3 transition-all duration-200;
  }

  .btn-primary {
    @apply rounded-lg py-2 px-3 transition-all duration-200 bg-primary text-base-100  hover:bg-primary-active;
  }

  .btn-secondary {
    @apply rounded-lg py-2 px-3 transition-all duration-200 bg-primary/5 text-primary hover:bg-primary/10
  }

  .alphabet {
    @apply rounded-md flex items-center justify-center text-primary-active bg-primary/20 w-16 h-12;
  }
  .alphabet.active {
    @apply bg-primary text-base-100;
  }
}

.circleChart {
  stroke-width: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FCFCFB; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D9D9D9; 
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa; 
}
