@import "./lang.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  outline: none;
}

@layer components {
  ul {
    @apply flex flex-col gap-3;
  }

  .custom_input_box {
    @apply relative text-base-content [&>input]:w-full [&>label]:absolute [&>label]:right-2 [&>label]:top-3 [&>label]:transition-all [&>label]:duration-300 [&>label]:transform [&>label]:text-xs [&>label]:cursor-text [&>label]:pointer-events-none;
  }

  input {
    @apply border-2 border-base-350 rounded-sm py-2 px-4 focus:border-b-primary outline-none;
  }

  .btn {
    @apply rounded-[9px] py-2 px-3 transition-all duration-200 w-fit h-fit;
  }

  .btn-primary {
    @apply flex flex-row cursor-pointer gap-2 w-fit h-fit justify-around items-center rounded-[9px] py-2 px-3 transition-all duration-200 bg-primary text-primary-text [&>svg]:fill-primary-text  hover:bg-primary-hover active:bg-primary-active disabled:bg-primary-disabled disabled:cursor-default;
  }

  .btn-secondary {
    @apply flex flex-row cursor-pointer gap-2 w-fit h-fit justify-around items-center rounded-[9px] py-2 px-3 transition-all duration-200 bg-secondary  text-secondary-text [&>svg]:fill-secondary-text hover:text-white hover:bg-secondary-hover active:text-white active:bg-secondary-active disabled:text-white disabled:bg-secondary-disabled disabled:cursor-default;
  }

  .btn-danger {
    @apply flex flex-row cursor-pointer gap-2 w-fit h-fit justify-around items-center rounded-[9px] py-2 px-3 transition-all duration-200 bg-[#F3524226]  text-danger [&>svg]:fill-danger hover:text-white hover:bg-danger active:text-white active:bg-danger disabled:text-white disabled:bg-secondary-disabled disabled:cursor-default;
  }
  
  .btn-danger-icon {
    @apply flex flex-row items-center justify-center font-bold text-sm text-center leading-[normal] rounded-[3px] transition-all duration-200 bg-[#F3524226]  text-danger [&>svg]:fill-danger hover:text-white hover:bg-danger active:text-white active:bg-danger disabled:text-white disabled:bg-secondary-disabled disabled:cursor-default;
  }

  .btn-secondary:hover svg, .btn-secondary:active svg, .btn-secondary:disabled svg, .btn-primary:disabled svg, .btn-danger-icon:disabled svg, .btn-danger-icon:hover svg  {
    @apply fill-white;
  }

  .btn-danger:hover svg, .btn-danger:active svg, .btn-danger:disabled svg {
    @apply fill-white;
  }

  .alphabet {
    @apply rounded-md flex items-center justify-center w-10 h-10;
  }

  .cube {
    @apply w-7 h-7 rounded-sm
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcfcfb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}


/* vue-json-pretty components styles */
.vjs-tree-node:hover {
  background: none !important;
  font-family: monospace;
}

.vjs-value-string {
  font-size: 12px !important;
  @apply !text-base-content
}

.vjs-tree {
  font-family: monospace !important;
  font-size: 12px !important;
  text-align: left !important;
}